## Forms to calculate the various GUE calculations and put out the appropriate tables

In [2]:
import sys,os,string,time,random,math
from os import listdir
from os.path import isfile, join
import subprocess

import numpy as np
import pandas as pd

from PIL import Image
from matplotlib import pyplot as plot
from IPython.display import display, Image
%matplotlib inline

### Min Gas via CAT
C: Consumption (GUE standard for one diver is .75, for min gas, we are calc for two divers:cubic ft/min)

A: Atmosphere ( Depth/33+1 is current ATA,current ATA+1, divided by 2 is average ATA

T: Time (time in min to surface. for GUE: depth/10, plus 1 min to deal with any issues)

MG: Min Gas to reach the surface for two divers

C x A x T = MG   (result is in cubic ft gas)

In [63]:
tanks={'AL80':{'rated_vol':77,'rated_PSI':3000},
       'AL40':{'rated_vol':40,'rated_PSI':3000},
       '2xAL80':{'rated_vol':144,'rated_PSI':3000},
       'LP72':{'rated_vol':72,'rated_PSI':2475},
       '2xLP72':{'rated_vol':144,'rated_PSI':2475},
       'LP50':{'rated_vol':50,'rated_PSI':2640},
       '2xLP50':{'rated_vol':100,'rated_PSI':2640},
       '2xHP100':{'rated_vol':200,'rated_PSI':3442},
       'HP100':{'rated_vol':100,'rated_PSI':3442},
       '2xHP133':{'rated_vol':266,'rated_PSI':3442},
       'HP117':{'rated_vol':117,'rated_PSI':3442}
      }

def calcpTot(gasses): # total pressure ex: pTot=pO2+pN2+pHe 
    #gasses is a list of gas pressures in %
    pTot=0 
    for gas in gasses:
        pTot=gas+pTot
    if pTot>100:
        return null
    return pTot
print('test pTot: (expect 100%)', calcpTot([21,35,44]),'%')

def calcpGas(ATA,fGas): #gas pressure at ambient. pGas=ATA x fGas 
    # ATA = ammbient pressure 
    # fGas = Fraction off gas
    return ATA * fGas

print('test pGas: (expect 1.05)', calcpGas(ATA=5,fGas=.21))

def calcTimeToStop(depth,gas_switch_depth=0): #for CAT formula
    if gas_switch_depth>0:
        time=int(((depth-gas_switch_depth)/10)+2) #add 1 min for gas switch
    else:
        time=int((depth/10)+1)
    return time
print('test calcTimeToStop: (expect 9)',calcTimeToStop(depth=140,gas_switch_depth=70))

def calcTimeToSurface(depth): #for CAT formula
    return calcTimeToStop(depth,gas_switch_depth=0)
print('test calcTimeToSurface: (expect 11)',calcTimeToSurface(depth=100))
      
def calcPSI(tank_factor, gasCF):
    psi=(gasCF/tank_factor)*100
    return (gasCF/tank_factor)*100 # PSI
print("test calc PSI:(expect approx 3000)",calcPSI(2.5, 77))

def calcCF(tank_factor, gasPSI): #calc cubic feet of gas frm PSI
    return (gasPSI*tank_factor)/100 #cu ft 
print("test calc cubic feet gas:(expect approx 77)",calcCF(2.5, 3050))

def calcTF(rated_vol, rated_PSI):   #Tank Factor, Vol in cf
    return round(((rated_vol/rated_PSI)*100*2))/2  # *2/2 allows rounding to nearest .5
print("test TF:(expect 2.5)",calcTF(77,3000))

def calcSCR(vol_cons, ATA,time):  #Surface Consumption Rate (GUE): Volume consumed(liter) / atmosphere / time(m)
    return vol_cons/ ATA/time #cu ft gas
print( "test SCR:(expect .75)",calcSCR(45, 3,20))

def calcGasVolCons(scr, ATA, time):  #gas consumed in ft3. for backgas planning, SCR = 1.5. for deco,.75, but * result by 1.5
    return scr * ATA * time #cu ft gas
print( "test  calcGasVolCons:(expect 2.25)",calcGasVolCons(.75, 3,1)) 

def calcATA(depth, water="fresh"):
    return round(((depth/33)+1), 1 ) # Average ATA
print("test ATA-surface:(expect 1)",calcATA(0),"test ATA-77ft:",calcATA(77),"test ATA-100ft:",calcATA(100))

def calcPPO2(depth=0,percent_O2=.21):
    return calcATA(depth)*percent_O2
print("test PPO2-surface:(expect .21)", calcPPO2(),"test PPO2-100ft",calcPPO2(100))

def calcMG(depth, gas_switch_depth=0, c=1.5):   #Min Gas w/CAT formula ()
    #c =c onsumption or SCR for two divers at .75 each is default
    a=(calcATA(depth)+calcATA(gas_switch_depth))/2 # Average ATA
    t=calcTimeToStop(depth,gas_switch_depth) # Time
    #print("Consumption:",c,"Average ATA:",a,"time:",t)
    mg=c*a*t
    return math.floor(mg+.5) #cubic feet of gas
print("test calc Min Gas:(expect approx 41)",calcMG(depth=100))
print("test calc Deco Min Gas:(expect approx 65)",calcMG(depth=150,gas_switch_depth=70 ))


def calcUG(currPSI=3000, MG_PSI=500,method='ALL'):  #Usable Gas=Tank pressure-MinGas (in PSI)
    methods={'ALL':1,'HALF':2,'THIRDS':3}
    return (currPSI-MG_PSI)/methods[method] #PSI

print("test Usable Gas: (expect 2500)",calcUG(currPSI=3000, MG_PSI=500,method='ALL'))

def calcBottomTime(depth=100,tank='2xAL80',method='ALL',SCR=1.5): # bottom time = UG/(SCR*ATA)
    
    SCR=SCR#(GUE standard uses 2 divers at .75 SCR)
    ATA=calcATA(depth)
    TF=calcTF(tanks[tank]['rated_vol'], tanks[tank]['rated_PSI'])
    MG_PSI=calcPSI(TF, calcMG(depth))
    UG=calcUG(tanks[tank]['rated_PSI'],MG_PSI,method=method)
    print('ATA:',ATA,'TF:',TF,'MG_PSI',MG_PSI,'UG',UG)
    return UG/(SCR*ATA)
print (1350/(4*1.5)) ##Why broken
print("test calc bottom time:(expect 23?)--cheating",calcBottomTime(depth=100,tank='AL80',method='ALL'))

test pTot: (expect 100%) 100 %
test pGas: (expect 1.05) 1.05
test calcTimeToStop: (expect 9) 9
test calcTimeToSurface: (expect 11) 11
test calc PSI:(expect approx 3000) 3080.0
test calc cubic feet gas:(expect approx 77) 76.25
test TF:(expect 2.5) 2.5
test SCR:(expect .75) 0.75
test  calcGasVolCons:(expect 2.25) 2.25
test ATA-surface:(expect 1) 1.0 test ATA-77ft: 3.3 test ATA-100ft: 4.0
test PPO2-surface:(expect .21) 0.21 test PPO2-100ft 0.84
test calc Min Gas:(expect approx 41.25) 41
test calc Deco Min Gas:(expect approx 64.5) 65
test Usable Gas: (expect 2500) 2500.0
225.0
ATA: 4.0 TF: 2.5 MG_PSI 1639.9999999999998 UG 1360.0000000000002
test calc bottom time:(expect 23?)--cheating 226.6666666666667

In [64]:
#mixing gases
#nitrox blending: Partial Pressure
# Target_FO2=final fraction of O2 in final mix, eg. 32%=.32 -- p=final working pressure, eg. 3000PSI
def O2_PSI_to_add(target_FractionO2=.32, p=3000):
    return ((target_FractionO2-.21)/.79)*p    # Give amount of O2 to add to an empty tank
# fill to p with air
print('test O2PSI:(expect: 417.7)', O2_PSI_to_add())


#TriMix blending:
# 1.   F_He=Fraction Helium in final mix(eg:40%), p= final fill pressure of tank(eg: 3000psi)
def trimix_P_He(F_He=.40,p=3000): #Helium to add to tank
    return F_He * p    
print('test F_He:(expect: 1200)', trimix_P_He())
# 2.   F_O2 = fraction O2 in final mix
def trimix_PO2 (F_O2=.16, p=3000): #O2 final PSI
    return F_O2 * p    
print('test PO2:(expect: 480)', trimix_PO2())
# 3. 
def nitrox_p(trimix_P_He=trimix_P_He(), p=3000): # 
    return p-trimix_P_He
print('test nitrox_p:(expect: 1800)', nitrox_p(trimix_P_He()))

# 4. 
def nitrox_FO2(trimix_PO2=trimix_PO2(),nitrox_p=nitrox_p()):
    return trimix_PO2/nitrox_p
print('test nitrox_FO2:(expect: .266)', nitrox_FO2())
# 5. O2PSI_to_add with target_FractionO2 = nitrox_FO2
print ('test final_mix:(expect:127.44)',O2_PSI_to_add(nitrox_FO2(), nitrox_p()) ) # add this much O2 to tank.
def trimixPP(F_O2=.16,F_He=.40, p=3000):
    P_He_to_add=trimix_P_He(F_He,p)
    t_po2=trimix_PO2(F_O2, p)
    nit_p=nitrox_p(P_He_to_add,p)
    nit_Fo2=nitrox_FO2(t_po2,nit_p)
    print('for trimix:',int(F_O2*100),'/',int(F_He*100))
    print('add He:',P_He_to_add)
    print('add O2:',O2_PSI_to_add(nit_Fo2, nit_p))
    print('fill with air')
print('test', trimixPP())
print('\nrun', trimixPP(F_O2=.14))

test O2PSI:(expect: 417.7) 417.7215189873418
test F_He:(expect: 1200) 1200.0
test PO2:(expect: 480) 480.0
test nitrox_p:(expect: 1800) 1800.0
test nitrox_FO2:(expect: .266) 0.26666666666666666
test final_mix:(expect:127.44) 129.1139240506329
for trimix: 16 / 40
add He: 1200.0
add O2: 129.1139240506329
fill with air
test None
for trimix: 14 / 40
add He: 1200.0
add O2: 53.1645569620254
fill with air

run None

In [65]:
# other equations (to implement)
#Ideal Gas Laws:
# Boyle’s law: P and V are the abs pressure and the volume:  P1V1 = P2V2   
# Charles’ law: T and V are the abs temperature and the volume : V1/T1) = (V2/T2)
# Amontons’ law : T and P are the abs temperature and the abs pressure: (P1/T1) = (P2/T2)

#general Gas Law is: P, V, and T are the abs pressure, volume, and absolute temperature.
#  (P1 x V1) / T1 = (P2 x V2) / T2

#classic SCR
#SCR = (1-P2/P1) x Vf/Aa/Tm
#Where
#P1 = pressure in psi at beginning of test dive
#P2 = pressure in psi at end of test dive
#Vf = actual volume of air in tank in cu. ft.
#Aa = pressure in absolute atmospheres
#Tm = time of dive in minutes

calcCF(tank_factor=6, gasPSI=3442)

206.52

In [66]:
#scratch area
print('test',calcSCR(calcCF(2.5,1700), calcATA(100), 15))
print(calcCF(2.5, 1750))

print((((1.6*244)/85)*55)/2.8)

test 0.7083333333333334
43.75
90.218487394958

In [67]:
def min_gas_table(depth=100, gas_switch_depth=0, used_tanks=['2xAL80'],scr=1.5):
    if gas_switch_depth<=0:
        MG_column='Time to surface(min)'
    else:
        MG_column='Time to next gas (min)'
    
    depth_increments=[]
    for depth in range(int(gas_switch_depth/10),int(depth/10)+1):
        if depth >0:
            depth_increments.append(depth*10)
            
    depths=[]
    for depth in depth_increments:
        mg=calcMG(depth, gas_switch_depth,scr) #calculate min gas for this level
        #print(depth,mg)
        #setup this dictionary for this depth
        curr_depth={"depth": depth,"min gas(cf)":mg,MG_column:calcTimeToStop(depth,gas_switch_depth)}
        for curr_tank in used_tanks:  
            #generate the info about this tank at this level
            tank_factor=calcTF(tanks[curr_tank]['rated_vol'],tanks[curr_tank]['rated_PSI'])
            curr_tank_psi=round(calcPSI(tank_factor, mg),-2)
            if curr_tank_psi<=500: #never go below 500 PSI
                curr_tank_psi=500
            if curr_tank_psi>tanks[curr_tank]['rated_PSI']:
                curr_tank_psi = 0
                
            # add the generated info for tank to this depth. include TF in the name for info
            curr_depth[curr_tank+" (TF:"+str(tank_factor)+") PSI"]=curr_tank_psi 
            
        #display(curr_depth)   
        depths.append(curr_depth)
        data=pd.DataFrame(depths)
        data.set_index('depth', inplace=True)
        
        #move the Time to surface col to end 
        columns=[value for value in data.columns if value != MG_column]
        columns.append(MG_column)
        data=data[columns]

    return data

In [68]:
#generate the MG tables
use_tanks=['AL80', 'LP72', 'HP100','2xAL80','2xHP100','2xHP133'] # tanks listed in the table

print("to suface table")
data=min_gas_table(depth=100, gas_switch_depth=0, used_tanks=use_tanks) 
display(data)

print("back gas, switch to 50% at 70")
data=min_gas_table(depth=170, gas_switch_depth=70, used_tanks=use_tanks) 
display(data)

print("back gas, switch to 100% at 20")
data=min_gas_table(depth=170, gas_switch_depth=20, used_tanks=use_tanks) 
display(data)
    
print("deco gas:50%, to surface, scr.6")
data=min_gas_table(depth=70, gas_switch_depth=0, used_tanks=['AL80','AL40'], scr=.6) 
display(data)

to suface table

,min gas(cf),AL80 (TF:2.5) PSI,LP72 (TF:3.0) PSI,HP100 (TF:3.0) PSI,2xAL80 (TF:5.0) PSI,2xHP100 (TF:6.0) PSI,2xHP133 (TF:7.5) PSI,Time to surface(min)
depth,,,,,,,,
10,3,500.0,500.0,500.0,500.0,500.0,500,2
20,6,500.0,500.0,500.0,500.0,500.0,500,3
30,9,500.0,500.0,500.0,500.0,500.0,500,4
40,12,500.0,500.0,500.0,500.0,500.0,500,5
50,16,600.0,500.0,500.0,500.0,500.0,500,6
60,20,800.0,700.0,700.0,500.0,500.0,500,7
70,25,1000.0,800.0,800.0,500.0,500.0,500,8
80,30,1200.0,1000.0,1000.0,600.0,500.0,500,9
90,35,1400.0,1200.0,1200.0,700.0,600.0,500,10
100,41,1600.0,1400.0,1400.0,800.0,700.0,500,11

back gas, switch to 50% at 70

,min gas(cf),AL80 (TF:2.5) PSI,LP72 (TF:3.0) PSI,HP100 (TF:3.0) PSI,2xAL80 (TF:5.0) PSI,2xHP100 (TF:6.0) PSI,2xHP133 (TF:7.5) PSI,Time to next gas (min)
depth,,,,,,,,
70,9,500.0,500.0,500.0,500.0,500.0,500.0,2
80,15,600.0,500.0,500.0,500.0,500.0,500.0,3
90,20,800.0,700.0,700.0,500.0,500.0,500.0,4
100,27,1100.0,900.0,900.0,500.0,500.0,500.0,5
110,33,1300.0,1100.0,1100.0,700.0,600.0,500.0,6
120,40,1600.0,1300.0,1300.0,800.0,700.0,500.0,7
130,48,1900.0,1600.0,1600.0,1000.0,800.0,600.0,8
140,56,2200.0,1900.0,1900.0,1100.0,900.0,700.0,9
150,65,2600.0,2200.0,2200.0,1300.0,1100.0,900.0,10
160,73,2900.0,2400.0,2400.0,1500.0,1200.0,1000.0,11
170,84,0.0,0.0,2800.0,1700.0,1400.0,1100.0,12

back gas, switch to 100% at 20

,min gas(cf),AL80 (TF:2.5) PSI,LP72 (TF:3.0) PSI,HP100 (TF:3.0) PSI,2xAL80 (TF:5.0) PSI,2xHP100 (TF:6.0) PSI,2xHP133 (TF:7.5) PSI,Time to next gas (min)
depth,,,,,,,,
20,5,500.0,500.0,500.0,500.0,500.0,500.0,2
30,8,500.0,500.0,500.0,500.0,500.0,500.0,3
40,11,500.0,500.0,500.0,500.0,500.0,500.0,4
50,15,600.0,500.0,500.0,500.0,500.0,500.0,5
60,20,800.0,700.0,700.0,500.0,500.0,500.0,6
70,25,1000.0,800.0,800.0,500.0,500.0,500.0,7
80,30,1200.0,1000.0,1000.0,600.0,500.0,500.0,8
90,36,1400.0,1200.0,1200.0,700.0,600.0,500.0,9
100,42,1700.0,1400.0,1400.0,800.0,700.0,600.0,10
110,49,2000.0,1600.0,1600.0,1000.0,800.0,700.0,11
120,56,2200.0,1900.0,1900.0,1100.0,900.0,700.0,12
130,63,2500.0,2100.0,2100.0,1300.0,1000.0,800.0,13
140,71,2800.0,2400.0,2400.0,1400.0,1200.0,900.0,14
150,80,0.0,0.0,2700.0,1600.0,1300.0,1100.0,15
160,89,0.0,0.0,3000.0,1800.0,1500.0,1200.0,16
170,99,0.0,0.0,3300.0,2000.0,1600.0,1300.0,17

deco gas:50%, to surface, scr.6

       min gas(cf)  AL80 (TF:2.5) PSI  AL40 (TF:1.5) PSI  Time to surface(min)
depth
10               1                500              500.0                     2
20               2                500              500.0                     3
30               3                500              500.0                     4
40               5                500              500.0                     5
50               6                500              500.0                     6
60               8                500              500.0                     7
70              10                500              700.0                     8

In [41]:
filename='Min_GaS_table.csv'

try:
    data.to_csv(filename, index=False)
except Exception as e:
    print ("Dataset could not be written.")
    print(e)
verify=[]
try:
    isfile(filename)
    with open(filename, 'r') as f:
        for line in f:
            verify.append(line)
    f.closed
    print( verify[:3])
except IOError:
    sys.std

['min gas(cf),AL80 (TF:2.5) PSI,AL40 (TF:1.5) PSI,Time to surface(min)\n', '1.3800000000000001,500,500.0,2\n', '2.34,500,500.0,3\n']

In [42]:
def gas_use_table(scr=.75,time=5,depth=170, gas_switch_depth=33, used_tanks=['2xAL80'], saftey_factor=1):
    depth_increments=[]
    for depth in range(int(gas_switch_depth/33),int(depth/33)+1):
        if depth >0:
            depth_increments.append(depth*33)
    depths=[]
    for depth in depth_increments:
        gasVolCons=round(calcGasVolCons(scr, calcATA(depth), time=1),2)*saftey_factor
    
        curr_depth={"depth": depth,"ATA":calcATA(depth),"vol gas(cf/"+str(time)+"m)":gasVolCons,}
        for curr_tank in used_tanks:  
            #generate the info about this tank at this level
            tank_factor=calcTF(tanks[curr_tank]['rated_vol'],tanks[curr_tank]['rated_PSI'])
            curr_tank_psi=round(calcPSI(tank_factor, gasVolCons))                
            # add the generated info for tank to this depth. include TF in the name for info
            curr_depth[curr_tank+" "+ "PSI/"+str(time)+"m)"]=curr_tank_psi * time
            
        #display(curr_depth)   
        depths.append(curr_depth)
        gas_data=pd.DataFrame(depths)
        gas_data.set_index('depth', inplace=True)
    return gas_data
        
    
gas_data= gas_use_table(scr=.75,time=5,depth=170, gas_switch_depth=0, used_tanks=use_tanks)


display("gas_use_table:",gas_data)
#  ^ make chart that says Ft3 and PSI per 1 and 5 minute at each 10 ft depth, (like gas management pg 25). 
#   uses formula above with DT=1 and 5,

'gas_use_table:'

,ATA,vol gas(cf/5m),AL80 PSI/5m),LP72 PSI/5m),HP100 PSI/5m),2xAL80 PSI/5m),2xHP100 PSI/5m),2xHP133 PSI/5m)
depth,,,,,,,,
33,2.0,1.50,300,250,250,150,125,100
66,3.0,2.25,450,375,375,225,190,150
99,4.0,3.00,600,500,500,300,250,200
132,5.0,3.75,750,625,625,375,310,250
165,6.0,4.50,900,750,750,450,375,300

In [43]:
#generate the deco gas use table
used_tanks=['AL40','AL80'] # tanks listed in the table
#gas_data= gas_table(scr=.75,time=5,depth=33, gas_switch_depth=0, used_tanks=used_tanks,saftey_factor=1.0)

print('gas_use_table: 100% O2, .75 scr')
display(gas_use_table(scr=.75,time=5,depth=33, gas_switch_depth=0, used_tanks=used_tanks,saftey_factor=1.0))
print('gas_use_table: 50% O2, .75 scr')
display(gas_use_table(scr=.75,time=5,depth=70, gas_switch_depth=70, used_tanks=used_tanks,saftey_factor=1.0))

gas_use_table: 100% O2, .75 scr

       ATA  vol gas(cf/5m)  AL40 PSI/5m)  AL80 PSI/5m)
depth
33     2.0             1.5           500           300

gas_use_table: 50% O2, .75 scr

       ATA  vol gas(cf/5m)  AL40 PSI/5m)  AL80 PSI/5m)
depth
66     3.0            2.25           750           450

In [175]:
## mg=calcMG(int(input('Depth:')))
print("min gas:",mg,'cubic feet')
ATA_70=calcATA(70)
ATA_20=calcATA(20)
avg_20_70=(ATA_70+ATA_20)/2
avg_0_20=(1+ATA_20)/2
print('70:',ATA_70,'20:',ATA_20,'avg:',avg_20_70,avg_0_20)

min gas: 63.0 cubic feet
70: 3.1 20: 1.6 avg: 2.35 1.3

In [176]:
#T1 Gas Managment notes
#Depth Consumption Rate = DCR = SCR * ATA
#Volume of Gas = DCR * time
#Deco Gas DG_FT3 = (SCR x ATA_AVG x DecoTime(DT)) x 1.5

3.0


### GUE standard bottom gas table
| Range | Range | Gasmix | MaxpO2 | EADD | EADD | END | END | MOD | MOD|
|-------|-------|--------|--------|------|------|-----|-----|-----|----|
|0-30 m | 0-100 ft| Nx32 | 1.28   | 30 m | 100ft| 30 m|100 ft| 30 m |100 ft|
|0-30 m | 0-100 ft| 30/30| 1.20   | 20 m | 66 ft| 18 m|60 ft| 30 m| 100 ft|
|0-45 m | 0-150 ft| 21/35| 1.15   | 29 m | 97 ft| 26 m|85 ft| 45 m| 150 ft|
|0-60 m | 0-200 ft| 18/45| 1.26   | 33 m | 110ft| 29 m|95 ft| 60 m| 200 ft|

NOTE: The maximum depth for a Tech 1 diver using 18/45 is 51m/170ft despite the actual MOD of the gas mix. Equivalent air density depth: ideal limit ≤ 31 m/102 ft, USN.


#### Compendium of formulas:   
Partial pressure:  pGAS = ATA x fGAS<BR>
Maximum Operating Depth:  MOD = 33 x ((pO21.2 ÷ fO2) – 1)<BR>
Equivalent Narcotic Depth:  END = (depth + 33) x (1 – fHe) – 33<BR>
Equivalent Air Density Depth:  EADD = ((depth + 33) x (ρGAS MIX ÷ 1.29)) – 33<BR>
Central Nervous System percent: <BR>
    * CNS% = (BT + Nx50TIME) ÷ 2<BR>
         or if Nx50 is replaced with 100% O2<BR>
    * CNS% = (BT ÷ 2) + (O2TIME x 2)<BR>

#### Terminology:
pAMB Ambient pressure in ATA<BR>
pGAS Partial pressure of gas<BR>
fGAS Fraction of gas ρ <BR>      
or ρGAS MIX Density of gas or gas mix<BR>
BT Bottom time<BR>
Nx50 Nitrox 50%<BR>

#EOF